body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(to right, #00FF7F, #00BFFF, #9400D3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="number"],
input[type="date"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

select {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

input[type="button"] {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #3e8e41;
}

#result {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
